# Web
PORT=4000
API_HOST=http://localhost:3000

# reCAPTCHA v2 - Obtén tus claves en https://www.google.com/recaptcha/admin
# Para desarrollo puedes usar las claves de prueba de Google (siempre pasan)
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
